<%- include('./partials/header')%>

<div class="container">
	<form action="/blog/<%=blog._id%>/?_method=PUT" method="POST">
		<div class=form-group>
			<div class="row">
				<div class="col">
					<input placeholder="Title" class="form-control" type="text" name="title" value="<%=blog.title%>">	
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col">
					<input placeholder="Title Image URL" class="form-control" type="text" name="title_image_url" value="<%=blog.title_image_url%>">
				</div>
				<div class="col">
					<input placeholder="Author" class="form-control" type="text" name="author" value="<%=blog.author%>">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col">
					<textarea placeholder="Title Description" class="form-control" name="title_description"><%=blog.title_description%></textarea>
				</div>
			</div>
		</div>
		
		
		<div class="content-series">
			<%for(var i =0; i < blog.subData.length; i++){%>
				<div class="content-elements">
					<div class="form-group">
						<div class="row">
							<div class="col">
								<button class="remove-content btn btn-warning" type='button'>Remove Content Series</button>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col">
								<input placeholder="Subheading" class="form-control" type="text" value="<%=blog.subData[i].sub_heading%>" name="subData[<%=i%>][sub_heading]">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col">
								<textarea class="form-control" placeholder="Blog Text" name="subData[<%=i%>][blog_text]"><%=blog.subData[i].blog_text%></textarea>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-2">
								<button class="btn btn-primary add-image-block" onclick="showImageBlock(this)" type='button'>Add Image</button>
							</div>
							<div class="col-lg-2">
								<button class="btn btn-primary" onclick="showCodeBlock(this)" type='button'>Add Code Block</button>
							</div>
						</div>
					</div>
					<%if( blog.subData[i] && blog.subData[i].normal_image_url){%>
						<div class="image-block" style="display: block;">
							<div class="form-group">
								<div class="row">
									<div class="col">
										<input class="form-control" placeholder="Image URL" class="form-control" type="text" value="<%=blog.subData[i].normal_image_url%>" name="subData[<%=i%>][normal_image_url]">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col">
										<input placeholder="Image Caption" class="form-control" type="text" value="<%=blog.subData[i].normal_image_caption%>" name="subData[<%=i%>][normal_image_caption]">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-lg-2">
										<button class="btn btn-warning" onclick="cancelImageBlock(this)" type='button'>Cancel</button>
									</div>
								</div>
							</div>
						</div>
					<%}%>
					<%if( blog.subData[i] && blog.subData[i].code){%>
						<div class="code-block" style="display: block;">
							<div class="form-group">
								<div class="row">
									<div class="col-lg-10">
										<textarea class="form-control" placeholder="Code" name="subData[<%=i%>][code]"><%=blog.subData[i].code%></textarea>
									</div>
									<div class="col-lg-2">
										<select name='subData[<%=i%>][language]'>
											<option><%=blog.subData[i].language%></option>
											<option>JS</option>
											<option>HTML</option>
											<option>CSS</option>
											<option>VHDL</option>
											<option>C</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-lg-2">
										<button class="btn btn-warning" onclick="cancelCodeBlock(this)" type='button'>Cancel</button>
									</div>
								</div>
							</div>
						</div>
					<%}%>
				</div>
			<%}%>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col">
					<button class="new-content btn btn-primary" type="button">New Content Series</button>		
				</div>
				<div class="col">
					<input class="form-control btn btn-primary" type="submit" name="">
				</div>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript" src='/scripts/new-blog.js'></script>
<%- include('./partials/footer')%>